<% layout("layouts/boilerplate.ejs") %>

<% let curr = userTransaction.currency.toUpperCase() %>
<% let remainSum = userTransaction.movements.reduce((total, el) => total + el).toLocaleString() %>
<% let totalIn = userTransaction.movements.reduce((total, el) => el > 0 ? total + el : total, 0).toLocaleString() %>
<% let totalOut = userTransaction.movements.reduce((total, el) => el < 0 ? total + Math.abs(el) : total, 0).toLocaleString() %>

<div class="container col-8 d-flex flex-column align-items-center mt-4">

<!-- Total balance display -->

    <div class="row d-flex justify-content-between col-12 mb-2">
        <div class="col-5 text-start">
            <h3 class="mb-0">Current Balance</h3>
            <div id="usernameHelp" class="form-text mt-0"><%= "As of " + new Date(Date.now()).toString().substring(0, 25) %></div>
        </div>
        <div class="col-5 text-end">
            <h1 class="display-5"><%= remainSum %> <%= curr %></h1>
        </div>
    </div>

<!-- Transactions display and modules -->

    <div class="row">

<!-- Transactions display -->

        <div
            data-bs-smooth-scroll="true"
            class="card col-6 scroll"
            tabindex="0"
        >
            <% for (let i = userTransaction.movements.length - 1; i >= 0; i--) { %>
            <% let movement = userTransaction.movements[i] %>
                <div class="card border border-0">
                    <div class="card-body pt-4 pb-4 d-flex justify-content-between <%= i === 0 ? " " : " border-bottom" %>">
                        <span class="badge text-bg-<%=movement<0?"danger":"success"%> p-2">
                            <%= i + 1 + " "%><%=movement<0?"WITHDRAWAL":"DEPOSIT"%>
                        </span>
                        <div class="card-text transactionAmount">
                            <%= Math.abs(movement).toLocaleString() %> <%= curr %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

<!-- Transaction modules -->
    
        <div class="row col-6 ms-1">

<!-- Transfer money module -->

            <div class="card card-transfer">
                <div class="card-body p-4">
                    <h5 class="card-title fs-5 mb-4">Transfer Money</h5>
                    <form
                        action="/home/transfer"
                        method="post"
                        class="row row-cols-auto g-2 align-items-center"
                    >
                        <div class="col-4">
                            <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                                required
                            />
                            <div id="usernameHelp" class="form-text">
                                Transfer to
                            </div>
                        </div>
                        <div class="col-4">
                            <input
                                type="number"
                                id="transfer"
                                name="transfer"
                                class="form-control"
                            />
                            <div id="amountHelp" class="form-text">Amount</div>
                        </div>
                        <div class="col-4">
                            <button
                                type="submit"
                                class="btn btn-light ps-4 pe-4"
                            >
                                →
                            </button>
                            <div id="sendHelp" class="form-text">Send</div>
                        </div>
                    </form>
                </div>
            </div>

<!-- Loan module -->

            <div class="card card-loan mt-2">
                <div class="card-body p-4">
                    <h5 class="card-title fs-5 mb-4">Loan</h5>
                    <form
                        action="/home/loan"
                        method="post"
                        class="row row-cols-auto g-2 align-items-center"
                    >
                        <div class="col-6">
                            <input
                                type="number"
                                id="loan"
                                name="loan"
                                class="form-control"
                                required
                            />
                            <div id="amountHelp" class="form-text">Amount</div>
                        </div>
                        <div class="col-6">
                            <button
                                type="submit"
                                class="btn btn-light ps-4 pe-4"
                            >
                                →
                            </button>
                            <div id="sendHelp" class="form-text">Send</div>
                        </div>
                    </form>
                </div>
            </div>

<!-- Delete account module -->
            
            <div class="card card-delete mt-2">
                <div class="card-body p-4">
                    <h5 class="card-title fs-5 mb-4">Close account</h5>
                    <div class="row row-cols-auto g-2 align-items-center">
                        <div class="col-4">
                            <button type="button" class="btn btn-light ps-4 pe-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                →
                            </button>
                            <div id="sendHelp" class="form-text">Confirm?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Closing accounts</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you would like to close your account?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
            <form action="/home/delete?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>
        </div>
    </div>
    </div>

<!-- Bottom display -->

    <div class="row col-12 mt-3">
        <div class="col-2 footerNotes">In  <span class="text-success"><%= totalIn %> <%= curr %></span></div>
        <div class="col-3 footerNotes">Out  <span class="text-danger"><%= totalOut %> <%= curr %></span></div>
        <div class="col-2 footerNotes">Interest</div>
        <div class="col-2 footerNotes">Sort</div>
        <div class="col-3 footerNotes">You will be logged out <span id="timer" class="text-black fs-5">05:00</span></div>
    </div>
</div>

<!-- Countdown timer for the session -->

<script>
    function timer() {
    const countdown = new Date().getTime() + 1000 * 60 * 5;
    const x = setInterval(() => {
        let currentTime = new Date().getTime();
        let distance = countdown - currentTime;

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000) + 1;

        document.querySelector('#timer').innerText = `0${minutes}:${seconds >= 10 ? "" : "0"}${seconds}`;

        if (distance < 0) {
            clearInterval(x);
            document.querySelector('#timer').innerText = `Expired`;
        }
    }, 1000);
    }
    timer();
</script>